---
// Definimos las propiedades 
// que puede recibir el componente
    interface Props {
        etiqueta: string;
    }
    //crear una variable
    //para recibir la etiqueta
    //Astro.props=los valores desde
    //            el control         
    const  etiqueta  = Astro.props.etiqueta;
--- 
<button class="boton-envio">
    {etiqueta}
</button>
<style>
    /* estilos de clase*/
    /* se aplican a los elementos */
    /* que tengan el atributo class*/
    /* con el mismo nombre de clase*/
    .boton-envio{
        background-color: #39a564;
        color: #000000;
        width: 100px;
        height: 40px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        margin: 50px 20px 50px 200px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
    }
</style>