---
// Definimos las propiedades 
// que puede recibir el componente
    interface Props {
       etiqueta: string;
    }
    //crear una variable
    //para recibir la etiqueta
    //Astro.props=los valores desde
    //            el control         
    const  etiqueta  = Astro.props.etiqueta;
--- 
<label>{etiqueta}</label>
<div>
    <div id="cedula">
    <input 
            type="radio"
            name="rbg"
            id="radio1"
        /> 
        <strong> CC </strong>
    </div>
    <div id="tarjeta">
        <input
            type="radio"
            name="rbg"
            id="radio2"
        />
         <strong> TI </strong>

    </div>
    <div id="extranjeria">
        <input
        type="radio"
        name="rbg"
        id="radio2"
        />
         <strong> CE </strong>
    </div>
<style>
    #cedula{
        background-color: brown;
        /* display:
        - determina como una etiqueta
        se comportara en cuanto a: display:
        largo, ancho, ubicacion;*/
        display: inline;
    }
    #tarjeta{
        background-color: aqua;
        display: inline;
    }
    #extranjeria{
        background-color: blue;
        display: inline;
    }
</style>
 