.form{
    display:block;
    background-color: lightgrey;
    width: 500px;
    border: 2px solid black;
    margin: 20px auto;
    border-radius:30px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 10px 13px 12px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 13px 12px 0px rgba(34, 37, 35, 0.75);
        -moz-box-shadow: 10px 13px 12px 0px rgba(0,0,0,0.75);
}

.titulo{
    background-color: beige;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Arial, helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 50px;
}.
