.form{
    display:block;
    background-color: lightgrey;
    width: 500px;
    border: 2px solid black;
    margin: 20px auto;
    border-radius:30px;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo{
    background-color: beige;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Arial, helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 50px;
}.
